#pokedex{
    
    height: 300px;

    #titleCard {
        padding-bottom: 10px;
    }

    .infoContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        #imageCard {
            height: 50px;
        
            img {
                max-width: 200px;
            }
        }
        
        #stats {
            height: 100px;
            padding-top: 50px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 50px;

            #statsId {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        
            #statsValue {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
}

